<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/cell.js"></script>
    <script src="/static/scripts/modalWindow.js"></script>
    <script src="/static/scripts/ebay-cell.js"></script>
    <script src="/static/scripts/users.js"></script>

    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <div class="brand"><a href="/">CARDBOARDGM</a></div>
        {% if g.user %}
        <ul class="nav-links">
            <li class="nav-link"><a href="/cards">Cards</a></li>
            <li class="nav-link"><a href="/users">Users</a></li>
            <li class="nav-link"><a href="/users/{{g.user.id}}/requests">Requests</a></li>
            <li class="nav-link"><a href="/logout">Logout</a></li>
        </ul>
        {% endif %}
    </nav>
    <div class="app-container">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <p class="flash-msg {{category}}">{{msg}}</p>
        {% endfor %}
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>