<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/scripts/constants.js"></script>
    <script src="/static/scripts/cell.js"></script>
    <script src="/static/scripts/modalWindow.js"></script>
    <script src="/static/scripts/ebay-cell.js"></script>
    <script src="/static/scripts/cellCollectionListener.js"></script>
    <style>
        .fas {
            display: inline;
        }

        .fa-baseball-ball {
            display: inline;
        }
    </style>
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar">
            <div class="brand"><a href="/">CARDBOARDGM</a></div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            {% if g.user %}
            <div class="navbar-links">
                <ul>
                    <li><a href="/users/{{g.user.id}}">{{g.user.username}}</a></li>
                    <li><a href="/cards">CARDS</a></li>
                    <li><a href="/users">MANAGERS</a></li>
                    <li><a href="/pricing">PRICING</a></li>
                    <li><a href="/users/{{g.user.id}}/requests">REQUESTS</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
    <div class="app-container">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <p class="flash-msg {{category}}">{{msg}}</p>
        {% endfor %}
        
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
    <script>
            const toggleButton = document.querySelector(".toggle-button");
            const navLinks = document.querySelector(".navbar-links");
    
            toggleButton.addEventListener('click', () => {
                navLinks.classList.toggle('active');
            })
        </script>
</body>
</html>