{% extends 'base.html' %}

{% block title %}{{card.title}}{% endblock %}

{% block content %}
<div class="card-detail-banner">
    <div class="banner-info">
        <h1>{{card.to_string()}}</h1>
        <h3>OWNER: <a href="/users/{{card.owner_id}}">{{card.user.username}}</a></h3>
        <div class="button-box">
            {% if card.owner_id == g.user.id %}
            <form action="/cards/{{card.id}}/edit">
                <button class='banner-btn blue'>Edit Card</button>
            </form>
            {% else %}
            <form action="/cards/{{card.id}}/new-request">
                <button class='banner-btn blue'>Request Trade</button>
            </form>
            {% endif %}
            <form>
                <button data-search="{{card.title}}" id="search-btn" class="banner-btn green ebay">Search Ebay</button>
            </form>
        </div>
    </div>
    <div class="banner-card-container">
        <img src="{% if card.has_img %}
                  {{card.img_url()}}
                  {% else %}
                  /static/images/default.jpg
                  {% endif %}" alt="Image of {{card.to_string()}}" onerror="this.src='/static/images/default.jpg'; document.querySelector('#detail-btn').remove();">
        {% if card.img_url %}
        <button id="detail-btn" class="banner-btn green" data-url="{{card.img_url()}}"">View Large Image</button>
        {% endif %}
    </div>
</div>
<h1 id="request-title">CURRENT TRADE REQUESTS</h1>

<div class="collection-container">
        {% if requests %}
        {% for request in requests %}
            <div class="trade-cell">
                <div class="status-bar">
                    <div class="disc {% if request.accepted %} green {% elif request.accepted == False %} red {% else %} grey {% endif %}"></div>
                    <h3>Status: {% if request.accepted %} Accepted {% elif request.accepted == False %} Declined {% elif request.valid_items %} Active {% else %} Inactive - Item/s not available{% endif %}</h3>
                </div>
                <div class="items-box">
                    <h3>{{request.from_user.username}}{{request.id}} {% if request.accepted %} received: {% elif request.accepted == False %} offered: {% else %} offers: {% endif %}</h3>
                    {% for item in request.items %}
                        {% if item.requested and request.accepted %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="Image of {{item.info.to_string()}}">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% elif not request.accepted and item.requested == False %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="Image of {{item.info.to_string()}}">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="items-box">
                    <h3>{{request.to_user.username}} {% if request.accepted %} received: {% elif request.accepted == False %} would receive: {% else %} will return: {% endif %}</h3>
                    {% for item in request.items %}
                        {% if not item.requested and request.accepted %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="Image of {{item.info.to_string()}}">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% elif not request.accepted and item.requested %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                      {{item.info.thumb_url()}}
                                      {% else %}
                                      /static/images/default.jpg
                                      {% endif %}" alt="Image of {{item.info.to_string()}}">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if request.accepted == None and request.to_user.id == g.user.id and request.valid_items %}
                <div class="button-box">
                    <form method='POST' class='button-box-submit'>
                        {{ form.csrf_token }}
                        {{ form.request_id(value=request.id)}}
                        {{ form.accept(class_="success") }}
                        {{ form.decline(class_="blue") }}
                    </form>
                </div>
                {% endif %}
                {% if not request.valid_items or request.accepted != None or request.from_user.id == g.user.id %}
                <div class="button-box">
                    <form method='POST' class="button-box-submit">
                        {{ form.csrf_token }}
                        {{ form.request_id(value=request.id)}}
                        {{ form.delete(class_="red") }}
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        {% else %}
        <p class="no-items">No Current Trade Requests</p>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="/static/scripts/card.js"></script>
{% endblock %}