{% extends 'base.html' %}

{% block content %}
<div class="card-detail-banner">
    <div class="banner-info">
        <h1>{{card.to_string()}}</h1>
        <h3>OWNER: <a href="/users/{{card.owner_id}}">{{card.user.username}}</a></h3>
        <div class="button-box">
            {% if card.owner_id == g.user.id %}
            <form action="/cards/{{card.id}}/edit">
                <button class='banner-btn blue'>Edit Card</button>
            </form>
            {% else %}
            <form action="/cards/{{card.id}}/new-request">
                <button class='banner-btn blue'>Request Trade</button>
            </form>
            {% endif %}
            <form>
                <button data-search="{{card.title}}" id="search-btn" class="banner-btn green ebay">Search Ebay</button>
            </form>
        </div>
    </div>
    <div class="banner-card-container">
        <img src="{% if card.img_url %}
                  {{card.full_img_url()}}
                  {% else %}
                  /static/images/default.jpg
                  {% endif %}" alt="">
        {% if card.img_url %}
        <button id="detail-btn" class="banner-btn green" data-url="{{card.full_img_url()}}"">View Large Image</button>
        {% endif %}
    </div>
</div>
<h1 id="request-title">CURRENT TRADE REQUESTS</h1>

<div class="collection-container">
        {% if requests %}
        {% for request in requests %}
            <div class="trade-cell">
                <div class="status-bar">
                    <div class="disc {% if request.accepted %} green {% elif request.accepted == False %} red {% else %} grey {% endif %}"></div>
                    <h3>Status: {% if request.accepted %} Accepted {% elif request.accepted == False %} Declined {% elif request.valid_items %} Active {% else %} Inactive - Item/s not available{% endif %}</h3>
                </div>
                <div class="items-box">
                    <h3>{{request.from_user.username}}{{request.id}} {% if request.accepted %} received: {% elif request.accepted == False %} offered: {% else %} offers: {% endif %}</h3>
                    {% for item in request.items %}
                        {% if item.requested and request.accepted %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% elif not request.accepted and item.requested == False %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="items-box">
                    <h3>{{request.to_user.username}} {% if request.accepted %} received: {% elif request.accepted == False %} would receive: {% else %} will return: {% endif %}</h3>
                    {% for item in request.items %}
                        {% if not item.requested and request.accepted %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                        {{item.info.thumb_url()}}
                                        {% else %}
                                        /static/images/default.jpg
                                        {% endif %}" alt="">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% elif not request.accepted and item.requested %}
                        <div class="items-box-cell">
                            <img src="{%if item.info.img_url%}
                                      {{item.info.thumb_url()}}
                                      {% else %}
                                      /static/images/default.jpg
                                      {% endif %}" alt="">
                            <p>{{item.info.title}} {{item.info.id}}</p>
                            <button class="ebay" data-search="{{item.info.title}}">RECENT EBAY SALES</button>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if request.accepted == None and request.to_user.id == g.user.id and request.valid_items %}
                <div class="button-box">
                    <form method='POST' class='button-box-submit'>
                        {{ form.csrf_token }}
                        {{ form.request_id(value=request.id)}}
                        {{ form.accept(class_="success") }}
                        {{ form.decline(class_="blue") }}
                    </form>
                </div>
                {% endif %}
                {% if not request.valid_items or request.accepted != None or request.from_user.id == g.user.id %}
                <div class="button-box">
                    <form method='POST' class="button-box-submit">
                        {{ form.csrf_token }}
                        {{ form.request_id(value=request.id)}}
                        {{ form.delete(class_="red") }}
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<script>
    const searchBtn = document.querySelector('#search-btn');
    const detailBtn = document.querySelector('#detail-btn');
    const body = document.querySelector('body');
    body.addEventListener('click', async function(e) {
        
        let target = e.target
        if (e.target.classList.contains('ebay')){
            e.preventDefault();
            const modal = new ModalWindow().modalWindow;
        body.append(modal);
        const resultsContainer = document.createElement('div')
        resultsContainer.classList.add('results-container');
        modal.append(resultsContainer);
        let res = await axios.get('/api/ebay', { params : {'item' : target.dataset.search }})
        console.log(res)
        if (res.data.length > 0) {
            for (item of res.data) {
            let cell = new EbayCell(item).cell;
            resultsContainer.append(cell);
            }
        } else {
            const noResults = document.createElement('h1');
            noResults.innerText = "NO RESULTS FOUND";
            noResults.classList.add('no-results');
            resultsContainer.append(noResults);
        }
        };
        
        
    })
    detailBtn.addEventListener('click', function(){
        const modal = new ModalWindow().modalWindow;
        body.append(modal);
        const detailedImage = document.createElement('img');
        detailedImage.classList.add('detail-img')
        detailedImage.setAttribute('src', detailBtn.dataset.url);
        modal.append(detailedImage);
    })


</script>
{% endblock %}