{% extends 'base.html' %}

{% block content %}
<div class="card-detail-banner">
    <h1>{{card.to_string()}}</h1>
    <h3>Owner: {{card.user.username}}</h3>
    <img src="{{card.full_img_url()}}" alt="">
    {% if card.user.id == g.user.id %}
    <form action="/cards/{{card.id}}/edit">
        <button class='banner-btn blue'>Edit Card</button>
    </form>
    <form>
        <button data-search="{{card.to_string()}}" id="search-btn">Search Ebay</button>
    </form>
    
    {% endif %}
</div>

<!-- <script src="/static/scripts/alert.js"></script> -->
<script>
    const searchBtn = document.querySelector('#search-btn');
    searchBtn.addEventListener('click', async function(e) {
        e.preventDefault();
        const body = document.querySelector('body');
        const modal = new ModalWindow().modalWindow;
        body.append(modal);
        const resultsContainer = document.createElement('div')
        resultsContainer.classList.add('results-container');
        modal.append(resultsContainer);
        let res = await axios.get('/api/ebay', { params : {'item' : searchBtn.dataset.search }})
        for (item of res.data) {
            let cell = new EbayCell(item).cell;
            resultsContainer.append(cell);
        }
    })
</script>
{% endblock %}