{% extends 'base.html' %}

{% block content %}
<div class="two-item-banner">
    <h1>CARDS</h1>
    <form action="">
        <div class="form-group">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
        </div>
    </form>
</div>
{% if cards|length > 0 %}
<h2 id="result-title">Showing All Cards</h2>
<div class="cells-container">
{% for card in cards %}
<a href="/cards/{{card.id}}">
    <div class="collection-cell">
        <div class="cell-image-container">
            <img src=
            {% if card.img_url %}
            "{{card.thumb_url()}}"
            {% else %}
            "/static/images/default.jpg"
            {% endif %}
             alt="">
        </div>
        <p class="cell-title">{{card.to_string()}}</p>
    </div>
</a>
{% endfor %}
</div>
{% endif %}
<script src="/static/scripts/cards.js"></script>
{% endblock %}