{% extends 'base.html' %}

{% block content %}
<div class="bullseye">
    <div class="form-container">
        <h1>EDIT CARD</h1>
        <div class="form-img-container">
            <img src="{% if card.img_url %}
                  {{card.thumb_url()}}
                  {% else %}
                  /static/images/default.jpg
                  {% endif %}" alt="">
        </div>
        <form method='POST'>
            {{ form.hidden_tag() }}
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
        
            <div class="form-group">
                {{field.label(class_="form-label")}}
                {{field(class_="form-field")}}
            </div>
            
            {% for error in field.errors %}
            <div class="field-error">
                <p class="error-text">{{error}}</p>
            </div>
            {% endfor %}
        
            {% endfor %}
            <button class="form-btn green">Save Changes</button>
        </form>
        <form action="/cards/{{card.id}}">
            <button class="form-btn blue">Cancel</button>
        </form>
        <form>
            <button class="form-btn red" id="delete-btn">Delete Card</button>
        </form>
    </div>
</div>
<script>
    const deleteURL = "/cards/{{card.id}}/delete";
    const deleteBtn = document.querySelector('#delete-btn');
    const body = document.querySelector('body');
    deleteBtn.addEventListener('click', function() {
        alert("DELETE")
    })
</script>
{% endblock%}