{% extends 'base.html' %}
{% block title %}Edit {{card.title}}{% endblock %}
{% block content %}
<div class="bullseye">
        <h1>EDIT CARD</h1>
        <div class="form-img-container">
            <img src="{% if card.img_url %}
                  {{card.thumb_url()}}
                  {% else %}
                  /static/images/default.jpg
                  {% endif %}" alt="Profile Image">
        </div>
    <div class="form-container">
            
        <form method='POST' enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
            <div class="form-element">
                <div class="form-group">
                    {{field.label(class_="form-label")}}
                    {{field(class_="form-field")}}
                </div>
                
                {% for error in field.errors %}
                <div class="field-error">
                    <p class="error-text">{{error}}</p>
                </div>
            {% endfor %}
            </div>
        
            {% endfor %}
            <button class="form-btn green">Save Changes</button>
        </form>
        <form action="/cards/{{card.id}}">
            <button class="form-btn blue">Cancel</button>
        </form>
        <form action="/cards/{{card.id}}/delete" method='POST'>
            <button id="delete-btn" class="form-btn red">Delete Card</button>
        </form>
    </div>
</div>

{% endblock%}

{% block scripts %}
<script src="/static/scripts/edit-card.js"></script>
{% endblock %}