{% extends 'base.html' %}
{% block title %}Edit Profile {{user.username}} - CardboardGM{% endblock %}

{% block content %}

<div class="bullseye">
<h1>EDIT PROFILE: {{user.username}}</h1>
<p>Current User Image</p>
    <img src=
    {% if user.has_img %}
    "{{user.thumb_url()}}"
    {% else %}
    "/static/images/no-avatar.png"
    {% endif %}
    alt="Profile Image" id="edit-avatar" onerror="this.src='/static/images/no-avatar.png';">
<div class="form-container">
    <form method='POST' enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
        <div class="form-element">
            <div class="form-group">
                {{field.label(class_="form-label")}}
                {{field(class_="form-field")}}
            </div>
            {% if field == form.image %}
            <p>*Use a square image for best results</p>
            {% endif %}
            {% for error in field.errors %}
            <div class="field-error">
                <p class="error-text">{{error}}</p>
            </div>
            {% endfor %}
        </div>
            
            {% endfor %}
            <button class="form-btn green">Save Changes</button>
        </form>
        <form>
            <button class="form-btn">Cancel</button>
        </form>
        <form action="/users/{{user.id}}/delete" method='POST'>
            <button class="form-btn red" id="delete-btn">Delete Account</button>
        </form>

    </div>
</div>
{% endblock%}

{% block scripts %}
<script src="/static/scripts/edit-user.js"></script>
<script>
    let fileField = document.querySelector("#foo");
    fileField.setAttribute('accept', "image/*");
</script>
{%  endblock %}