{% extends 'base.html' %}
{% block title %}CardboardGM - The World's Online Baseball Card Collection{% endblock %}
{% block content %}
<div class="cover-page">
    <div class="bullseye">
        <div class="form-container">
            <h1>WELCOME TO CARDBOARDGM!</h1>
            <p>Sign up to become part of the world's best online card community!</p>
            <form action="/register">
                <button class='form-btn blue'>SIGN UP</button>
            </form>
            <form action="/login">
                <button class="form-btn blue">LOGIN</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}