{% extends 'base.html' %}

{% block content %}
<h1>LOGIN USER</h1>
<div class="form-container">
    <p>Don't have an account?  <a href="/register">Register Here</a></p>
    <form method='POST'>
            {{ form.hidden_tag() }}
        
            {% for field in form
                if field.widget.input_type != 'hidden' %}
        
            <div class="form-group">
                {{field.label(class_="form-label")}}
                {{field(class_="form-field")}}
            </div>
            
            {% for error in field.errors %}
            <div class="field-error">
                <p class="error-text">{{error}}</p>
            </div>
            {% endfor %}
        
            {% endfor %}
            <button class="btn submit form-btn green">Login</button>
        </form>
</div>
{% endblock%}