<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal Test</title>
    <style>
        .modal-window {
            height: 200px;
            width: 200px;
            background-color: red;
        }
    </style>
</head>
<body>
    <button id="get-modal">Get Modal</button>
    <script src="/static/scripts/modalWindow.js"></script>
    <script>
        const btn = document.querySelector("#get-modal");
        btn.addEventListener('click', function() {
            console.log("CLICK")
            let modal = new ModalWindow();
            document.querySelector('body').append(modal.modalWindow);
        })
    </script>
</body>
</html>