{% extends 'base.html' %}
{% block title %}Search eBay Sales - CardboardGM{% endblock %}
{% block content %}
<h1 class="centered">CHECK RECENT EBAY SALES</h1>
<form action="">
    <div class="search-group-ebay">
    <input type="text" id="query" class="search-field" placeholder="Enter Card To Search Ebay Sales">
    <button class='banner-btn blue' id="search-btn">SEARCH EBAY</button>
</div>
</form>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/pricing.js"></script>
{% endblock %}