{% extends 'base.html' %}
{% block title %}Register Account - CardboardGM{% endblock %}
{% block content %}
<div class="bullseye">
    <div class="form-container">
        <h1>REGISTER NEW USER</h1>
        <p>Have an account?  <a href="/login">Login Here</a></p>
        <form method='POST'>
                {{ form.hidden_tag() }}
            
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
            <div class="form-element">
                <div class="form-group">
                    {{field.label(class_="form-label")}}
                    {{field(class_="form-field")}}
                </div>
                
                {% for error in field.errors %}
                <div class="field-error">
                    <p class="error-text">{{error}}</p>
                </div>
                {% endfor %}
            </div>
                {% endfor %}
                <button class="btn submit form-btn green">Register</button>
            </form>
    </div>
</div>
{% endblock%}