{% extends 'base.html' %}

{% block content %}
<style>
    .trade-cell {
        margin-bottom: 12px;
        border: 4px solid black;
        border-radius: 6px;
    }

    .trade-status {
        background-color: black;
        color: white;
        padding: 4px;
    }

    .owner-receive {
        padding: 4px;
    }

    .trade-cards {
        padding: 4px;
        background-color: white;
    }

    .trade-cell-form {
        display: flex;
        padding: 4px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 50px;
    }

    .trade-cell-form form {
        width: 50%;
        margin: 4px;
        color: white;
    }

    /* .trade-cell-form input[type=submit] {
        color: white;
    }

    .white-text {
        /* color: white; */
    } */
</style>
<h1>TRADE REQUESTS</h1>
{% for request in requests %}
<div class="trade-cell">
<div class="trade-cell-status">
<p class="trade-status">Status: 
    {% if request.accepted %}
    Accepted
    {% elif request.accepted == false %}
    Rejected
    {% else %}
    Active
    {% endif %}</p>
</div>
<h3 class="owner-receive">Sender {{request.from_user.username}} will receive:</h3>
<div class="trade-cards">
    {% for item in request.items %}
    {% if item.requested %}
    <p><a href="/cards/{{item.info.id}}">{{item.info.to_string()}}</a></p>
    {% endif %}
    {% endfor %}
</div>
<h3 class="owner-receive">{{request.to_user.username}} will receive:</h3>
<div class="trade-cards">
    {% for item in request.items %}
    {% if not item.requested %}
    <p><a href="/cards/{{item.info.id}}">{{item.info.to_string()}}</a></p>
    {% endif %}
    {% endfor %}
</div>
{% if request.to_user.id == g.user.id %}
<div class="trade-cell-form">
        <form method='POST'>
                {{ form.csrf_token }}

                {{ form.request_id(value=request.id) }}

                
                <div class="form-group">
                    {{form.accept(class_="form-btn blue accept white-text")}}
                    {{form.decline(class_="form-btn red decline white-text")}}
                </div>
         
            

            </form>

</div>
{% endif %}
{% if request.from_id == g.user.id %}
<div class="trade-cell-form">
    <form method='POST'>
        {{ form.csrf_token }} 

        {{ form.request_id(value=dir(form.request_id)) }}

        <div class="form-group">
            {{form.delete(class_="form-btn red delete", id="deleteTradeBtn")}}
        </div>
    </form>
</div>
{% endif %}
</div>


{% endfor %}
<script>
        const body = document.querySelector('body');
        let tradeCells = document.getElementsByClassName("trade-cell-form");
        let notConfirmed = true;
        for (cell of tradeCells) {
            cell.addEventListener('click', function(e){
                let target = e.target;
                console.log(target)
                if (target.classList.contains('form-btn')) {
                    if (target.classList.contains('delete')) {
                        if (notConfirmed){
                            e.preventDefault();
                            let ac = new AlertController("DELETE TRADE", "Are you sure you want to delete this trade?", "DELETE TRADE", function() {
                            notConfirmed = false;
                            target.click();
                        })
                        body.append(ac.ac);
                        }
                        
                    } else if (target.classList.contains('decline')) {
    
                        if (notConfirmed) {
                            e.preventDefault();
                            let ac = new AlertController("DECLINE TRADE", "Are you sure you want to decline this trade?", "DECLINE TRADE", function() {
                                notConfirmed = false;
                                target.click();
                            })
                            body.append(ac.ac)
                        }
                    }
                    
                }
                
            });
        }
    </script>
{% endblock %}
