{% extends 'base.html' %}

{% block content %}
<form method='POST'>
    {{ form.hidden_tag() }}
    <!-- {{form.hidden(id='mofo')}} -->

    {% for field in form
        if field.widget.input_type != 'hidden' %}

    <div class="form-group">
        {{field.label(class_="form-label")}}
        {{field(class_="form-field")}}
    </div>
    
    {% for error in field.errors %}
    <div class="field-error">
        <p class="error-text">{{error}}</p>
    </div>
    {% endfor %}

    {% endfor %}
    <button class="btn submit form-btn green">Register</button>
</form>
{% endblock %}