<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Ebay</title>
    <style>
        .centered {
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="centered">SEARCH RECENT EBAY SALES</h1>
    <form class="search-group centered">
        <input type="text">
        <button>Search</button>
    </form>
</body>
</html>