{% extends 'base.html' %}
{% block title %}Trade Request - Select Cards{% endblock %}
{% block content %}
<div class="trade-request-container">
    <h1 class="centered">REQUEST TRADE For {{requested_card.title}}</h1>
    <div class="search-group-ebay">
        <input type="text" placeholder="Search Your Collection" class="search-field" id="search">
        <button class="banner-btn blue">Search</button>
    </div>
    <h2 class="centered">Your Collection</h2>
    <div class="your-collection">
        {% for card in cards %}
        <div class="request-cell">
            <input type="checkbox" data-id={{card.id}} class="check">
            <p>{{card.title}}</p>
            <span><i class="far fa-images tr-span" data-imgurl="{{card.full_url}}"></i></span>
        </div>
        {% endfor %}
    </div>
    <h2 class="centered">Selected Cards</h2>
    <div class="selected-cards"></div>
    <div class="trade-control">
        <form method="POST">
            {{form.csrf_token}}
            {{form.req_data}}
            <button class="trade-btn space green" id="send-request-btn">Send Request</button>
        </form>
        <button class="trade-btn space blue">Cancel</button>
    </div>
</div>
{% endblock %}

{% block scripts%}
<script>const cards = {{cards | tojson }};</script>
<script src="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src= "https://unpkg.com/jasmine-core/lib/jasmine-core/boot.js"></script>
<script src="/static/scripts/trade-request.js"></script>
<script src="/static/scripts/trade-request.test.js"></script>
{% endblock %}