{% extends 'base.html' %}

{% block content %}
<div class="two-item-banner">
    <h1>MANAGERS</h1>
    <form action="">
        <div class="form-group">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
        </div>
    </form>
</div>
<div class="cells-container">
    {% for user in users %}
    <a href="/users/{{user.id}}">
        <div class="collection-cell">
            <div class="cell-image-container">
                <img src="/static/images/no-avatar.png" class="avatar" alt="">
            </div>
            <p class="cell-title-user">{{user.username}}</p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
    const appContainer = document.querySelector('.app-container');
    const cellContainer = document.querySelector('.cells-container')
    const searchField = document.querySelector('.search-field');
    const searchBtn = document.querySelector('.search-btn');
    let offset = document.getElementsByClassName('collection-cell').length;
    let limit = offset;
    let derp;
    listening = true;

    function getClientHeight() {
        return document.documentElement.clientHeight;
    }

    function appContainerHeight() {
        return appContainer.scrollHeight;
    }

    searchField.addEventListener('input', async () => {
        if (searchField.value == "") {
            offset = 0;
            derp = null;
            cellContainer.innerHTML = "";
            listening = true;
            await getMoreUsers();
        }
    });

    searchBtn.addEventListener('click', async (e) => {
        e.preventDefault();
        derp = searchField.value;
        console.log(searchField.value)
        listening = true;
        offset = 0;
        cellContainer.innerHTML = "";
        await getMoreUsers();
    });

    window.addEventListener('load', async function() {
        while (getClientHeight() >= appContainerHeight() && listening){
            await getMoreUsers();
        }
    });

    async function getMoreUsers() {
        console.log('called')
        let ach = appContainerHeight()
        let res = await axios.get('/api/test-inf-scr', { params : {limit, offset, derp}});
        console.log(res)
        for (user of res.data.users) {
            const userLink = document.createElement('a');
            userLink.setAttribute('href', `/users/${user.id}`);
            let cell = new UserCell(user).cell;   
            cellContainer.append(userLink);
            userLink.append(cell);
        }
        offset += limit;
        
        if (res.data.users.length < limit) {
            listening = false;
        }

        checkFilled(ach);
    }



    async function checkFilled(height) {
        if (height === appContainerHeight() && listening) {
            await getMoreUsers();
        }
    }

    async function sizeChange() {
        if (appContainer.offsetHeight + appContainer.scrollTop == appContainer.scrollHeight) {
            appContainer.removeEventListener('scroll', sizeChange)
            window.removeEventListener('resize', sizeChange)
            await getMoreUsers();
            appContainer.addEventListener('scroll', sizeChange)
            window.addEventListener('resize', sizeChange)

        }
    }

    appContainer.addEventListener('scroll', sizeChange)
    window.addEventListener('resize', sizeChange)
</script>

{% endblock %}

