{% extends 'base.html' %}
{% block title %}All Managers - CardboardGM{% endblock %}
{% block content %}
<div class="two-item-banner">
    <h1>MANAGERS</h1>
    <form action="">
        <div class="form-group">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
        </div>
    </form>
</div>
<div class="cells-container">
    {% for user in users %}
    <a href="/users/{{user.id}}">
        <div class="collection-cell">
            <div class="cell-image-container">
                <img src="{% if user.has_img %}{{user.thumb_url()}}{% else %}/static/images/no-avatar.png{% endif %}" class="avatar" alt="" onerror="this.src='/static/images/no-avatar.png';">
            </div>
            <p class="cell-title-user">{{user.username}}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
    let c = new CellCollectionListener(UserCell, '/api/users', '/users/');
</script>
{% endblock %}