{% extends 'base.html' %}
{% block title %}Collection from {{user.username}} - CardboardGM{% endblock %}
{% block content %}
<div class="profile-summary blue">
    <img src="{% if not user.has_img %}
    /static/images/no-avatar.png
    {% else %}
    {{user.img_url()}}
    {% endif %}" alt="profile image" class="profile-img-full" onerror="this.src='/static/images/no-avatar.png';">

    <h1>{{user.username}}</h1>
    <p>{{user.full_name()}}</p>
    {% if g.user.id == user.id %}
    <form action="/users/{{g.user.id}}/edit">
        <button class="banner-btn dark-grey">Edit Profile</button>
    </form>
    <form action="/users/{{user.id}}/add_card" class="add-card">
        <button class="banner-btn green">Add to Collection</button>
    </form>
    {% endif %}
</div>

<div class="two-item-banner">
    <h1>{%if g.user.id == user.id %}YOUR{% else %}{{user.possessive()}}{% endif %} COLLECTION</h1>
    <form>
        <div class="search-group">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
        </div>
    </form>
</div>
{% if cards %}
<h2 id="result-title">Showing <span class="search-results">All Cards</span></h2>
<div class="cells-container">
{% for card in cards %}
    <a href="/cards/{{card.id}}">
        <div class="collection-cell">
            <div class="cell-image-container">
                <img src=
                {% if card.has_img %}
                "{{card.thumb_url()}}"
                {% else %}
                "/static/images/default.jpg"
                {% endif %}
                    alt="" onerror="this.src='/static/images/default.jpg';">
            </div>
            <p class="cell-title">{{card.to_string()}}</p>
        </div>
    </a>
{% endfor %}
</div>
{% else %}
<p class="no-items">No Cards in Collection</p>
{% endif %}


{% endblock %}

{% block scripts %}
<script>
        let c = new CellCollectionListener(CardCell, '/api/cards', '/cards/', {{user.id}});    
    </script>
{% endblock %}