{% extends 'base.html' %}
{% block title %}Collection from {{user.username}} - CardboardGM{% endblock %}
{% block content %}
<div class="profile-summary blue">
    <img src="{% if not user.img_url%}
    /static/images/no-avatar.png
    {% else %}
    {{user.imgurl()}}
    {% endif %}" alt="profile image" class="profile-img-full">

    <h1>{{user.username}}</h1>
    <p>{{user.full_name()}}</p>
    {% if g.user.id == user.id %}
    <form action="/users/{{g.user.id}}/edit">
        <button class="banner-btn dark-grey">Edit Profile</button>
    </form>
    {% endif %}
</div>

<div class="two-item-banner">
        <h1>CARDS</h1>
        <form action="">
            <div class="form-group">
                <input type="text" class="search-field">
                <button class="search-btn">Search</button>
            </div>
        </form>
    </div>
    {% if g.user.id == user.id %}
    <form action="/users/{{user.id}}/add_card">
        <button class="banner-btn green">Add to Collection</button>
    </form>
    <!-- <a href="/users/{{user.id}}/add_card" class="form-btn green">Add To Collection</a> -->
    {% endif %}
    <div>
        {% if cards %}
        <div class="cells-container">
        {% for card in cards %}
            <a href="/cards/{{card.id}}">
                <div class="collection-cell">
                    <div class="cell-image-container">
                        <img src=
                        {% if card.img_url %}
                        "{{card.thumb_url()}}"
                        {% else %}
                        "/static/images/default.jpg"
                        {% endif %}
                         alt="" onerror="this.src='static/images/default.jpg';">
                    </div>
                    <p class="cell-title">{{card.to_string()}}</p>
                </div>
            </a>
        {% endfor %}
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
<script>
        let c = new CellCollectionListener(CardCell, '/api/cards', '/cards/', {{user.id}});    
    </script>
{% endblock %}